// Define variables for your color scheme

// For example:
$red: rgb(197, 12, 12);
$blue: #14227b;
$yellow: #E3B505;
$gray: #E8E8E8;
$gradient: linear-gradient(#FFCA00, #fafafa);
$webkit-gradient: -webkit-linear-gradient(#FFCA00, #fafafa);
$webkit-title-gradient: -webkit-linear-gradient(#14227b, #ff00f2);
