// Define variables for your color scheme

// For example:
$red: #C50C0C;
$blue: #000839;
$yellow: #E3B505;
$gray: #E8E8E8;
$gradient: radial-gradient(103.95% 1210.7% at 107.67% 23.02%, #FF4D00 0%, #FFCA00 100%);
