// Define variables for your color scheme

// For example:
$red: rgb(197, 12, 12);
$blue: #000839;
$yellow: #E3B505;
$gray: #E8E8E8;
$gradient: linear-gradient(#FF4D00, #FFCA00);
$webkit-gradient: -webkit-linear-gradient(#FF4D00, #FFCA00);
