<div class="navbar">
  <%= image_tag 'logo_white.png' %>
  <div class="navbar-text">
    <h1>Milky Rails</h1>
    <p>Space has never been so close</p>
  </div>
  <div class="button big-btn-transparent">Button</div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="big-btn-full">Button</div>
</div>
