<div class="navbar">
  <%= image_tag 'logo_white.png' %>
  <div class="navbar_text">
    <h1>Milky Rails</h1>
    <p>Space has never been so close</p>
  </div>
  <div class="btn_transparent"><p>Button</p></div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
