.trip-card {
  background-color: white;
  border-radius: 10px;
  height: 350px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  margin: 15px 30px 15px 30px;
  h3 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  p{
    font-size: 11px;
    font-weight: lighter;
  }
}

.trip-card-img {
  background-size: cover;
  background-position: center;
  height: 170px;
  border-radius: 10px 10px 0 0;
}

.trip-card-content {
  padding: 16px;
  line-height: 10px;
}

.trip-card-price {
  margin-top: 40px;
  text-align: right;
  font-size: 12px;
}

.trip-card-recap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  height: 175px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

.trip-card-recap-img {
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.trip-card-recap-content {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.button-card-recap {
  margin: 0px 80px 0px 80px;
}

.trip-card-recap-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div {
    font-size: 10px;
  }
}

.trip-card-recap-infos {
  line-height: 1.7;
}

.card-invoice {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.card-invoice-img {
  height: 175px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.card-invoice-content {
  padding: 20px;
}

.card-invoice-infos {
  border-radius: 10px;
  background: $blue;
  margin: 10px 44px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h2 {
    text-align: center;
    font-weight: bold;
  }
  ul {
    margin-left: 0;
    list-style: none;
  }
}

.card-invoice-text {
  background: -webkit-linear-gradient(#FF4D00, #FFCA00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-invoice-price-detail {
  display: flex;
  justify-content: space-between;
}

.card-invoice-price-total {
  margin-top: 50px;
}

.card-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  height: 250px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-confirmation-content {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.card-confirmation-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div {
    font-size: 10px;
  }
}

.card-confirmation-infos {
  line-height: 2.5;
}

.card-confirmation-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
}

.card-confirmation-box-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-confirmation-buttons {
  display: flex;
  justify-content: space-around;
}

.card-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  height: 120px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-user-text {
  line-height: 2.5;
  div {
    font-size: 10px;
  }
}

.card-user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.card-trip-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  height: 350px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
  outline: 10px solid $blue;
  outline-offset: -5px;
}

.card-trip-description-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  color: $blue;
  outline: 10px solid $blue;
  outline-offset: -5px;
  border-radius: 15px;
  h3 {
    font-weight: bolder;
  }
}

.card-trip-description-text {
  padding: 15px 30px;
  text-align: justify;
  p {
    font-weight: lighter;
    font-size: 15px;
  }

.card-booking-detail {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.card-booking-detail-content {
  h2 {
    text-align: center;
  }
  background-color: $blue;
  border-radius: 10px;
  margin: 5px 10px;
  padding: 20px;
  &:last-child {
    margin-top: 20px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-booking-detail-content-total {
  margin-top: 50px;
}
