.trip-card {
  background-color: white;
  border-radius: 10px;
  height: 350px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

.trip-card-img {
  background-size: cover;
  background-position: center;
  height: 170px;
  border-radius: 10px 10px 0 0;
}

.trip-card-content {
  padding: 16px;
}

.trip-card-price {
  text-align: right;
}

.trip-card-recap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  height: 175px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

.trip-card-recap-img {
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.trip-card-recap-content {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.button-card-recap {
  margin: 0px 80px 0px 80px;
}

.trip-card-recap-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div {
    font-size: 10px;
  }
}

.trip-card-recap-infos {
  line-height: 1.7;
}

.card-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  height: 250px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-confirmation-content {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.card-confirmation-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div {
    font-size: 10px;
  }
}

.card-confirmation-infos {
  line-height: 2.5;
}

.card-confirmation-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
}

.card-confirmation-box-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-confirmation-buttons {
  display: flex;
  justify-content: space-around;
}
