.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmed {
  color: rgb(7, 203, 46);
}

.unconfirmed {
  color: rgb(216, 23, 9);
}

.add-trip {
font-size: 60px;
height: 60px;
width: 60px;
}

.bordered {
  border: dashed;
  opacity: 0.5;
}

.bordered:hover {
  opacity : 0.75;
}

.margin {
  margin-top: 20px;
}

.dashboard-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  h3 {
    margin-left: 40px;
  }
}

.dashboard-img {
  background-size: cover;
  background-position: center;

}

.title-dashboard {
  margin-top: 20px;
}

.delete-container {
  position: relative;
}

.delete {
  position: absolute;
  right: 0px;
  top: 0px;
  color: grey;
  // outline: 2px solid gray;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bolder;
  padding: 0px 7px 0px 7px;
  transform: rotate(45deg);
  opacity: 0.4;
}

.delete:hover {
  opacity: 1;
}
