.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 120px;
  background-color: $blue;
}

.navbar-left-box {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar-left-box img {
  width: 100px;
}

.navbar-text {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 20px;
  h1 {
    font-size: 30px;
    background: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
  }
  p {
    font-family: "comfortaa";
    font-weight: lighter;
    font-size: 15px;
    background: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.button {
  margin-right: 50px;
}

.navbar-right-box {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.dropdown-menu {
  border-radius: 15px;
  font-size: 12px;
}

.dropdown-item:hover{
  background: transparent;
  color: $blue;
  font-weight: bolder;
}
