.navbar {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: $blue;
}

.navbar img {
  position: absolute;
  left: 20px;
  width: 60px;
}

.navbar-text {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 100px;
}
.navbar-text h1 {
  font-size: 25px;
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-text p {
  position: absolute;
  bottom: 0px;
  font-family: "comfortaa";
  font-weight: lighter;
  font-size: 10px;
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  margin-right: 50px;
}
